.del, .done {
	height: 15px;
	border-radius: 15px;
	cursor: pointer;
	cursor: hand;
}
.done:hover, li:hover .done, .check {
	background-color:green;
}
li:hover, .check{
	text-decoration: line-through;
}
.del {
	background-color:red;
	color: white;
}
li {
	list-style: none;
}